global
     daemon
     user nobody
     group nobody

defaults
     mode     http
     timeout connect 5000ms
     timeout client     50000ms
     timeout server     50000ms

frontend http-in
     bind *:8080
     default_backend    openam-servers

backend openam-servers
     mode http
     option httpchk GET /signon/isAlive.jsp
     # openam application cookie
     appsession amlbcookie len 20 timeout 3h request-learn
     balance roundrobin
     # haproxy load balancer cookie
     # (i think this needs a 'cookie n' config in the servers)
     # cookie SERVERID insert nocache
     # check the servers every 60 seconds
     # server oam1 {{ openam_server_1_ip }}:{{ openam_port }} check inter 60000
     # server oam2 {{ openam_server_2_ip }}:{{ openam_port }} check inter 60000
     server oam1 {{ server1_hostname }}:{{ container_port }} check inter 60000
     server oam2 {{ server2_hostname }}:{{ container_port }} check inter 60000

listen stats :80
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth {{ stats_user }}:{{ stats_password }}
